/BIN/backup
/BIN/*.zip
/BIN/*.mdb
*.rar
/Release
/Source/.vs/*
/Source/AutoUpdate/obj/*
/Source/AutoUpdate/bin/*
/Source/ChuongTrinh/obj/Debug
/Source/ConvertFont/.vs
/Source/ConvertFont/obj/Release
/Source/DBAccess/.vs
/Source/DBAccess/obj/Debug
/Source/DBAccess/obj/Release
/Source/ExcelReport/.vs
/Source/ExcelReport/obj/Debug
/Source/ExcelReport/obj/Release
/Source/GXControl/.vs
Release
Debug
.vs
/BIN/ImportLog.txt

# Ban sao luu tu dong khi chay release.ps1
*.bak_*
*.mdb.bak
desktop.ini
