<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Giaoly.Properties.Settings.giaoxuConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\NhanSuGiaoXu\ChuongTrinh\Resources\giaoxu.mdb;Persist Security Info=True;Jet OLEDB:Database Password=khoanvnit"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>